.wd-profile {
    height: 104px;
    width: 104px;
    object-fit: cover;
}

p {
    margin: 0;
    line-height: 1;
}

.wd-banner {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.wd-profile-overlay {
    position: absolute;
    left: 0;
    margin-left: 18px;
    bottom: 0;
    outline: white solid 4px;
    /*box-shadow: 0 0px 12px black;*/
}

button {
    all: unset;
}

.header-height {
    height: 60px;
}

.banner-overlay {
    position: absolute;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

input {
    all: unset;
}

.wd-fs-sm {
    font-size: smaller;
}

.wd-justify-self-end {
    justify-self: end;
}