body {
    background-color: white;
    color: black;
}

h3 {
    margin: 0;

}

input[type=text], input[type=text]:focus {
    border: hidden;
    outline: none;
    margin: 1px;
    margin-right: 8px;
}

.wd-profile-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.wd-profile-link:hover {
    text-decoration: none;
    cursor: pointer;
}