body {
    font-family: sans-serif;
    margin: 0 16px 0 16px;
    background-color: black;
    color: white;
}

#gear-svg {

}

.wd-display-flex {
    display: flex;
    align-items: center;
}

::placeholder {
    color: darkgray;
}

.wd-fill-dark-gray {
    fill: darkgray;
}

.wd-height-16px {
    height: 16px;
}

.wd-width-16px {
    width: 16px;
}

.wd-fg-dark-gray {
    color: darkgray;
}

.wd-fg-dim-gray {
    color: dimgray;
}

.wd-bg-dark-gray {
    background-color: darkgray;
}

.wd-bg-dim-gray {
    background-color: dimgray;
}

.wd-capsule-border-radius {
    border-radius: 50vh;
}

#search-input {
    background: none;
    outline: none;
    border: none;
    color: white;
}


.wd-tab-header {
    font-size: 15px;
    display: inline;
}

.wd-post > h3, h4, h5 {
    margin: 16px 0;
}

#footer {
    height: 16px;
}

.wd-post.wd-post-ef {
    min-height: 100px
}

.wd-post > h4, h5 {
    font-size: 13px;
    line-height: 0;
}

.wd-post > h4 {
    font-weight: normal;
}

.wd-page-wrapper {
    min-width: 286px;
}

.wd-post > h3 {
    font-size: 15px;
    font-weight: bold;
}

.wd-post > h5 > span {
    font-weight: normal;
    color: rgb(110, 118, 125);
}

.wd-post > h4 {
    color: rgb(110, 118, 125);
}

.wd-display-inline {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wd-flex-container {
    display: flex;
    justify-items: center;
}

a {
    line-height: 0;
    margin: 0;
    padding: 0;
}

.wd-fill-accent {
    fill: rgb(29, 161, 242);
}

.wd-fg-accent {
    color: rgb(29, 161, 242);
}

.wd-bg-accent {
    background-color: rgb(29, 161, 242);
}

.wd-flex-horizontal {
    flex-direction: row;
}

.wd-flex-small {
    flex-grow: 0;
}

.wd-flex-big {
    flex-grow: 1;
}

.wd-margin-8px-left {
    margin-left: 8px;
}

.wd-margin-8px-right {
    margin-right: 8px;
}

.wd-margin-8px-bottom {
    margin-bottom: 8px;
}

#underline {
    margin-bottom: 3px; height: 4px; border-radius:
        100px;
}

.wd-margin-8px-top {
    margin-top: 8px;
}

.wd-margin-16px-top {
    margin-top: 16px;
}

.wd-margin-16px-left {
    margin-left: 16px;
}

.wd-margin-16px-right {
    margin-right: 16px;
}

.wd-margin-12px-right {
    margin-right: 12px;
}

.wd-margin-16px-bottom {
    margin-bottom: 16px;
}

.wd-padding-16px {
    padding: 16px;
}

.wd-padding-bottom-16px {
    padding-bottom: 16px;
}

.wd-padding-8px {
    padding: 8px;
}

.wd-outline {
    outline: rgb(47, 51, 54) solid 1px;
}

.wd-font-12px {
    font-size: 12px;
}

.wd-float-right {
    float: right;
}

.wd-post > img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
}


.wd-padding-bottom-0px {
    padding-bottom: 0;
}

.wd-display-inline-block {
    display: inline-block;
}